<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true" bootstrap="./vendor/autoload.php">
    <php>
        <includePath>./src</includePath>
    </php>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php" phpVersion="5.6" phpVersionOperator=">=">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/logs/coverage" charset="UTF-8" yui="true" highlight="false" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-html" target="./tests/logs/testdox.html" />
    </logging>
</phpunit>